/**
 * index.scss
 * - Add any styles want here!
 */

body {
  background: #f5f5f5;
}
#MainHeader1 {
  text-align:center;
}

#MainHeader2 {
  text-align:center;
}

#FirstParagraph {
  text-align:center;
}